# Generic configuration
#
# Author: lblasc@znode.net (Luka Blaskovic)
#
# Description:
# Salt top.sls file
#

base:
  '*':
    - apt_sources
    - acpi
    - locales
    - timezone
    - ssh
    - packages
    - firewall
    - postfix
    - users
    - ntp
    - resolv
    - dell

  'gnt*'
    - network
    - users.gnt
    - ganeti
    - ganeti.instance_debootstrap

