# Generic configuration
#
# Author: lblasc@znode.net (Luka Blaskovic)
#
# Description:
# Salt top.sls file
#

base:
  '*':
    - apt_sources
    - acpi
    - locales
    - timezone
    - ssh
    - packages
    - firewall
    - postfix
    - users
    - ntp
    - resolv
    - dell
    - logstash-forwarder

  'gnt*'
    - network
    - ganeti.hosts
    - ganeti.optimizations
    - ganeti
    - ganeti.user_pool
    - ganeti.instance_debootstrap

